.nav-bar-container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: rgb(0, 45, 45);
  font-size: large;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.41);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.9px);
  -webkit-backdrop-filter: blur(0.9px);
  border: 1px solid rgba(255, 255, 255, 0.16);
}

.nav-logo {
  width: 40px;
}
