.pagination-container {
  display: flex;
  flex-direction: row;
  width: 55vw;
  justify-content: space-between;
  align-items: center;

  .pokemon-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 60vh;
    overflow-y: auto;
    gap: 50px;
  }
}
