.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 40px;

  .pokemon-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    height: 60vh;
    overflow-y: auto;
    gap: 50px;
  }
}

.selectable {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 130px;
  height: 200px;
  align-items: center;
  background-color: #e3bc9a;
  border-radius: 10px;
  border: 0.5px solid black;
  cursor: pointer;

  .selectable-checkbox {
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}
