.details-container-layout {
  @extend .details-container;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;

  .details-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: larger;
    font-weight: bold;

    .details-info {
      width: 400px;
    }

    .details-info-title {
      text-align: center;
      font-size: 30px;
      margin-bottom: 20px;
    }
    .label {
      display: inline-block;
      width: 150px;
      text-align: right;
      margin-right: 10px;
    }
  }
}

.details-pokemon-list-container {
  display: flex;
  flex-direction: row-reverse;
  width: 55vw;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;

  .details-pokemon-list-edit {
    align-self: flex-start;
    cursor: pointer;
  }

  .details-pokemon-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
    height: 30vh;
    overflow-y: auto;
    gap: 50px;

    .pokemon-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 130px;
      height: 200px;
      align-items: center;
      justify-content: center;
      background-color: #e3bc9a;
      border-radius: 10px;
      border: 0.5px solid black;
    }
  }
}
